USE [master]
GO
/****** Object:  Database [QLThuVien_BTL_NET1]    Script Date: 17-Dec-22 4:12:05 PM ******/
CREATE DATABASE [QLThuVien_BTL_NET1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLThuVien_BTL_NET1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\QLThuVien_BTL_NET1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLThuVien_BTL_NET1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\QLThuVien_BTL_NET1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLThuVien_BTL_NET1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLThuVien_BTL_NET1]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 17-Dec-22 4:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNhanVien] [char](10) NOT NULL,
	[TenNhanVien] [nvarchar](50) NOT NULL,
	[GioiTinh] [datetime] NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[DienThoai] [nvarchar](50) NOT NULL,
	[NgayVaoLam] [datetime] NOT NULL,
	[ChucVuNV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUON]    Script Date: 17-Dec-22 4:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUON](
	[MaPhieuMuon] [char](10) NOT NULL,
	[MaTheThuVien] [char](10) NOT NULL,
	[MaSachMuon] [char](10) NOT NULL,
	[NgayMuon] [datetime] NOT NULL,
 CONSTRAINT [PK_PHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[MaPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHACTRA]    Script Date: 17-Dec-22 4:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHACTRA](
	[MaPhieuNhacTra] [char](10) NOT NULL,
	[MaTheThuVien] [char](10) NOT NULL,
	[NgayLapPhieu] [datetime] NOT NULL,
	[DonGiaPhat] [int] NOT NULL,
	[MaNhanVien] [char](10) NOT NULL,
	[MaSach] [char](10) NOT NULL,
 CONSTRAINT [PK_PHIEUNHACTRA] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhacTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 17-Dec-22 4:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MaSach] [char](10) NOT NULL,
	[TenSach] [nvarchar](50) NOT NULL,
	[TheLoai] [nvarchar](50) NOT NULL,
	[TinhTrang] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NhaXuatBan] [nvarchar](50) NOT NULL,
	[NamXuatBan] [datetime] NOT NULL,
	[TacGia] [nvarchar](50) NOT NULL,
	[Anh] [image] NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACHMUON]    Script Date: 17-Dec-22 4:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACHMUON](
	[MaPhieuMuon] [char](10) NOT NULL,
	[MaSach] [char](10) NOT NULL,
	[TinhTrang] [nvarchar](50) NOT NULL,
	[SoLuongSachMuon] [int] NOT NULL,
	[NgayTra] [datetime] NOT NULL,
 CONSTRAINT [PK_SACHMUON] PRIMARY KEY CLUSTERED 
(
	[MaPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THETHUVIEN]    Script Date: 17-Dec-22 4:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THETHUVIEN](
	[MaTheThuVien] [char](10) NOT NULL,
	[TenSinhVien] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[DienThoai] [nvarchar](50) NOT NULL,
	[NgayTaoThe] [datetime] NOT NULL,
	[NgayTheHetHan] [datetime] NOT NULL,
 CONSTRAINT [PK_THETHUVIEN] PRIMARY KEY CLUSTERED 
(
	[MaTheThuVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUON_SACHMUON] FOREIGN KEY([MaPhieuMuon])
REFERENCES [dbo].[SACHMUON] ([MaPhieuMuon])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUON_SACHMUON]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUON_THETHUVIEN] FOREIGN KEY([MaTheThuVien])
REFERENCES [dbo].[THETHUVIEN] ([MaTheThuVien])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUON_THETHUVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHACTRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHACTRA_NHANVIEN] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PHIEUNHACTRA] CHECK CONSTRAINT [FK_PHIEUNHACTRA_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHACTRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHACTRA_THETHUVIEN] FOREIGN KEY([MaTheThuVien])
REFERENCES [dbo].[THETHUVIEN] ([MaTheThuVien])
GO
ALTER TABLE [dbo].[PHIEUNHACTRA] CHECK CONSTRAINT [FK_PHIEUNHACTRA_THETHUVIEN]
GO
ALTER TABLE [dbo].[SACHMUON]  WITH CHECK ADD  CONSTRAINT [FK_SACHMUON_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SACH] ([MaSach])
GO
ALTER TABLE [dbo].[SACHMUON] CHECK CONSTRAINT [FK_SACHMUON_SACH]
GO
USE [master]
GO
